<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
  </head>
  <body>

    <div class="background">
      <div class="sidebar-wrapper d-flex">
      
        <div class="title">SMART HOUSEKEEPER</div> 
        
      </div>

      <div class="host-wrapper">
          
        <form method="post">
          <select id="input_example" name="user_input">
            <option value="" selected disabled hidden>Function</option>
            <option value="1">register user</option>
            <option value="2">register item</option>
            <option value="3">register remote control</option>
          </select>
        </form>

        <form method = "post" action="/item">
          <div class="form-group">
            <label class="lab-text"for="exampleInputEmail1">User name</label>
            <input name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter User name">
          </div>

          <div class="form-group">
            <label class="lab-text"for="exampleInputEmail1">Item name</label>
            <input name="itemname" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Item name">
          </div>
          
          
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        
        
      </div>
      
    </div>

    

    
    
    

    


    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.5.3/ace.js"></script>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    

    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    
  </body>
</html>
